@media (max-width: 740px) {

    /* NAVBAR A */
    .navbar a {

        font-size: 13px;
    }

    @media (max-width: 663px) {
        .navbar {
            flex-direction: row;
        }

        .navbar a {
            font-size: 13px;
            padding-top: 12px;
            text-align: center;
        }
        
    }

    /* NAVBAR A */

}